crabmusket.net {
	root /var/www/blog/public
	tls admin@crabmusket.net
	gzip

	git {
		repo https://github.com/crabmusket/crabmusket.net
		branch master
		path /var/www
		hook /hooks/github {$GITHUB_WEBHOOK_SECRET}
		then bash post-push.sh
	}
}

pods.crabmusket.net {
	tls admin@crabmusket.net
	proxy / localhost:3000
	gzip
}
