crabmusket.net {
	root /var/www/blog/public
	tls admin@crabmusket.net
	gzip

	git {
		repo https://github.com/crabmusket/crabmusket.net
		branch master
		path /var/www
		hook /hooks/github {$GITHUB_WEBHOOK_SECRET}
		then bash scripts/git-deploy.sh
	}
}

pods.crabmusket.net {
	tls admin@crabmusket.net
	gzip
	proxy / localhost:3000 {
		transparent
	}
}

secrets.crabmusket.net {
	tls admin@crabmusket.net
	gzip
	proxy / localhost:4000 {
		transparent
	}
}

fathom.crabmusket.net {
	tls admin@crabmusket.net
	gzip
	proxy / localhost:5000 {
		transparent
	}
}

mmp.crabmusket.net {
	tls admin@crabmusket.net
	gzip
	proxy / localhost:8065 {
		transparent
	}
}
