crabmusket.net {
	root /var/www/blog/public
	tls admin@crabmusket.net
	gzip

	git {
		repo https://github.com/crabmusket/crabmusket.net
		branch master
		path /var/www
		hook /hooks/github {$GITHUB_WEBHOOK_SECRET}
		then bash scripts/git-deploy.sh
	}
}

pods.crabmusket.net {
	tls admin@crabmusket.net
	gzip
	proxy / localhost:3000 {
		transparent
		header_downstream Cache-Control 'max-age=0, no-cache, no-store'
		header_downstream Pragma 'no-cache'
	}
}
