<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>the crab &amp; musket</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1 class="site-title">
        <span class="site-title__prefix">the</span>
        crab &amp; musket
      </h1>

    <p class="site-subtitle">is what I'd call a pub if I owned one.</p>

    <img class="site-avatar" src="https://secure.gravatar.com/avatar/3fc8dc67b90083ba270eec63629bdd98?s=150"></img>

    <div class="links">
      <div>Check out my:</div>
      <a class="seamless" href="/blog">writing</a> /
      <a class="seamless" href="https://twitter.com/crabmusket" rel="me">tweets</a> /
      <a class="seamless" href="https://github.com/crabmusket" rel="me">code</a> /
      <a class="seamless" href="https://keybase.io/crabmusket">keys</a>
    </div>
  </div>

  {{ partial "fathom.html" }}
</body>

</html>
