<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{ .Title }} &mdash; the crab &amp; musket</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
      <link href="/css/main.css" rel="stylesheet">
      <link href="/css/syntax.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <a href="/blog">
        <h1 class="site-title">
          <span class="site-title__prefix">the</span>
          crab & musket
        </h1>
      </a>

      <hr />

      <div class="content">
        <div class="post-header">
          <h2 class="post-header__title">{{ .Title }}</h2>
          <span class="post-header__date">{{ .Date.Format "January 2, 2006" }}</span>
        </div>

        <div class="post">
          {{ .Content }}
        </div>

        <hr />

        <p class="site-subtitle">fin</p>
      </div>
    </div>
  </body>
</html>
